#carouselExampleCaptions {
    display: flex;
    justify-content: center;
    height: 400px; /* or other desired height */
    overflow: hidden;
}
img {
    flex: none; /* keep aspect ratio */
}
.container {
  display: flex;
  justify-content: center;
}
.footer {
  background: #3a3836;
}
.footer-menu{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.footbar{
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #d3d3d3;
}

.footer-links{
  font-family: sans-serif;
}
